.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color:#efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding:15px 50px ;
}
.text{
  text-align: center;
  color: lightcoral;
}
.container h3 {
  color:black
}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
  
}

.transaction-list{
  padding: 0;
  margin: 0;
}
.transaction-list > li {
  background-color: white;
  box-shadow:0 0 10px gray;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 4px; 
}

.transaction-form input {
  width: 100%;
  margin: 10px 0 ;
  padding: 5px 5px;
  background-color: white;
  border: none;
}
.sub:hover{
  cursor: pointer;
  color:red;
}

